<h1>Все юниты:</h1>
<h2>@Model.currCategory</h2>
@{
    foreach (var unit in Model.allUnits)
    {
        <div>
            <h3>@unit.Name</h3>
            <p>@unit.shortDesk</p>
            <p>Стоимость: @unit.price.ToString()</p>
        </div>
    }
}