<div class="container">
    @foreach (var el in Model.roster.listRosterItems) {
        <div class="alert alert-warning mt-3">
            <b>Юнит:</b> @el.unit.Name
            <b>Стоимость:</b> @el.unit.price.ToString()
        </div>
    }
    <hr />
    <div class="btn btn-danger" asp-controller=">Завершить</div>
</div>